.transactionHistory {
  margin: 0 auto 60px;
  width: 320px;
}
.transactionHistory thead {
  background-color: cornflowerblue;
  height: 50px;
}
.transactionHistory th {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.transactionHistory td {
  height: 30px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 500;
}
.transactionHistory tr:nth-child(2n) {
  background-color: darkgray;
  color: #fff;
}
@media (min-width: 480px) {
  .transactionHistory {
    width: 480px;
  }
  .transactionHistory td {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
  }
}
/*  */
